<div style="padding: 0.5em;">
<h1>Configure options</h1>

<br />
<div>
	Options for 
	<%= @shared_session.id %>-<%= @shared_session.alpha_code %> 
	<%= @shared_session.title.inspect %>
</div>
<br />

<% @data.each do |option, value| %>
	<div style="padding-left: 1em; padding-bottom: 0.5em;">
		<% if option.value_type == 'boolean' %>
			<%= check_box_tag option.key %>
		<% end %>
		<%= option.description %>
	</div>
<% end %>
</div>
