<!DOCTYPE html>
<html>
	<head>
	  <title>SpaceHotel</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js' %>
	  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js' %>
	    
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div id="container">
			<div id="header"> <%= image_tag 'logo.jpg', :alt => "", :id => "logo"%>
				<h1 id="logo-text">Space Hotel</h1>
			</div>
			<div id="nav">
				<ul>
				  <li><a href="#">Home</a></li>
				  <% unless session[:userid].nil? %>
					  <li><%= link_to 'My reservations', {:controller => 'index', :action => 'my_reservations'}, :id => 'my_reservations' %></li>
					  <li><a href="#">Recent&nbsp;articles</a></li>
					  <li><a href="#">Email</a></li>
				  <% end %>
				  <li style="border-right: medium none;" >
				  	<% if session[:userid].nil? %>
				  		<a href="#" onclick="return showSignin()" id="show_sign_in_link">Sign&nbsp;in</a>
				  	<% else %>
				  		Logged in as <%= session[:userid] %>
				  	<% end %>
				  </li>
				</ul>
			</div>

			<div id="sign_in_bar">
				<%= form_tag :controller => 'index', :action => 'login' %>
					User ID: <input type="text" name="userid" id="userid" />
					Password: <input type="password" name="password" id="password" />
					<button type="submit">Sign in</button>
					<a href="#" onclick="return hideSignIn()">x</a>
				</form>
			</div>


			<div id="site-content">
				<% unless flash[:messages].nil? %>
					<ul>
						<% flash[:messages].each do |m| %>
							<li><%= m %></li>
						<% end %>
					</ul>
				<% end %>
				<%= yield %>
			</div>

			<div id="footer">
				<img src="images/footnote.gif" class="copyright" alt="html templates"></a>
				<p>
					&copy; 2014-<%= Date.today.year %> Gargoyle Software Inc. <br />Design provided by 
					<a target="_blank" href="http://www.htmltemplates.net">htmltemplates.net</a>

				</p>
				<ul class="footer-nav">
				  <li><a href="#">Home</a></li>
				  <li><a href="#">About us</a></li>
				  <li><a href="#">Recent articles</a></li>
				  <li><a href="#">Email</a></li>
				  <li><a href="#">Resources</a></li>
				  <li><a href="#">Links</a></li>
				  <li><%= @shared_session %></li>
				</ul>
			</div>
		</div>
	</body>
</html>
