<!DOCTYPE html>
<html>
	<head>
	  <title>SpaceHotel</title>
	  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js' %>
	  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js' %>
	    
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	  <link href="css/style.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div id="container">
			<div id="header"> <img src="images/logo.jpg" alt="" id="logo">
				<h1 id="logo-text">Space Hotel</h1>
			</div>
			<div id="nav">
				<ul>
				  <li><a href="#">Home</a></li>
				  <li><a href="#">About&nbsp;us</a></li>
				  <li><a href="#">Recent&nbsp;articles</a></li>
				  <li><a href="#">Email</a></li>
				  <li style="border-right: medium none;" >
				  	<a href="#" onclick="return showSignin()" id="show_sign_in_link">Sign&nbsp;in</a>
				  </li>
				</ul>
			</div>

			<div id="sign_in_bar">
				<form>
				User ID: <input type="text" name="user-id" />
				Password: <input type="password" name="password" />
				<button type="submit">Sign in</button>
				<a href="#" onclick="return hideSignIn()">x</a>
				</form>
			</div>


			<div id="site-content">
				<%= yield %>
			</div>

			<div id="footer">
				<!--DO NOT Remove The Footer Links-->
				<!--Designed by--><a href="http://www.htmltemplates.net">
				<img src="images/footnote.gif" class="copyright" alt="html templates"></a>
				<p>
					&copy; 2014 Gargoyle Software Inc. <br />Design provided by 
					<a target="_blank" href="http://www.htmltemplates.net">htmltemplates.net</a>
				</p>
				<ul class="footer-nav">
				  <li><a href="#">Home</a></li>
				  <li><a href="#">About us</a></li>
				  <li><a href="#">Recent articles</a></li>
				  <li><a href="#">Email</a></li>
				  <li><a href="#">Resources</a></li>
				  <li><a href="#">Links</a></li>
				</ul>
			</div>
		</div>
	</body>
</html>
